.center-body {
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
	z-index: -100;
	background: #fff;
	opacity: 0;
	animation-fill-mode: forwards;
	animation: opacity_loader 3s;
	position: fixed;
}

.loader-circle-18 {
	width: 70px;
	height: 70px;
	border-right: 7px solid #9356DC;
	border-radius: 100%;
	opacity: 0;
	z-index: 100;
	animation: anmR-loader-circle-18 3s linear, opacity_loader 3s;
	display: inline-block;
	position: relative;
}


.loader-circle-18:before,
.loader-circle-18:after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 100%;
	animation: anmL-loader-circle-18 3s linear, opacity_loader 3s;
}

.loader-circle-18:before{
	width: 40px;
	height: 40px;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	border-left: 4px solid #FF79DA;
}

.loader-circle-18:after {
	width: 30px;
	height: 30px;
	top: calc(50% - 15px);
	left: calc(50% - 20px);
	border: 0;
	border-right: 3px solid #99E2D0;
}



@keyframes anmL-loader-circle-18 {
	0%{
		transform: scale(1);
		transform: rotate(360deg);
	}
	70%{
		transform: scale(1);
		transform: rotate(0deg);
		
	}
	
	100%{
		transform: scale(1);
		transform: rotate(0deg);
		
	}
}

@keyframes anmR-loader-circle-18 {
	0% {
		transform: scale(1);
		transform: rotate(0deg);
		
	}

	70% {
		transform: scale(1);
		transform: rotate(720deg);
	

	}

	100% {
		transform: scale(0);
		transform: rotate(0deg);
	
	}

}

@keyframes opacity_loader {
	0% {
		opacity: 0.9;
		z-index: 100;

	}

	70% {
		opacity: 0.9;
		z-index: 100;


	}

	100% {

		opacity: 0;
		z-index: -100;
	}


}