@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');
:root {
    --purple: #9356DC;
    --pink: #FF79DA;
    --bluegreen: #99E2D0;
    --font: 'Roboto', 'Shrikhand' sans-serif;
    
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.test {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menus {
    width: 100%;
    margin: 0;
}.back {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: 0;
}
.logo_menus {
    display: flex;
}
.back a {
    color: black;
    justify-content: flex-start;
    margin-right: 35px;
    padding: 20px;
}
.back a i {
    margin-left: 0;
    font-size: 20px;
}
.BG_Images {
    width: 100%;
    margin: 0;}

.BG_Images   img {
    width: 100%;
    min-width: 360px;
    height: 100%;
    max-height: 300px;
    margin: 0;
    -o-object-fit: cover;
    object-fit: cover;
}
.img1{
  width:70%;
}



main {
    padding: 0;
}

.menus {
    width: 95%;
    margin: 0;
  }
  .menus .back {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: 0;
  }
  .menus .back .logo_menus {
    display: flex;
  }
  .menus .back a {
    color: black;
    justify-content: flex-start;
    margin-right: 35px;
    padding: 20px;
  }
  .menus .back a i {
    margin-left: 0;
    font-size: 20px;
  }
  .menus .BG_Images {
    width: 100%;
    margin: 0;
  }
  .menus .BG_Images img {
    width: 100%;
    min-width: 360px;
    height: 100%;
    max-height: 300px;
    margin: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -40px;
    background-color: #F6F6F6;
  }
  .menu .menu__restaurant {
    display: flex;
    width: 100%;
    border-radius: 40px 40px 0 0;
    background-color: #F6F6F6;
    align-items: baseline;
    justify-content: space-between;
  }
  .menu .menu__restaurant h1 {
    font-family: "Shrikhand", cursive;
    font-size: 25px;
    margin: 30px 20px 20px 15px;
  }
  .menu .menu__restaurant .menu__restaurant__like {
    position: relative;
    font-size: 25px;
  }

  .menu .menu__restaurant .heart {
    position: absolute;
    right:0;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    
  }
  .full{
    visibility: hidden;
}

.full:hover,
.full:active{
    transform: scale(1.15);
    opacity: 100%;
    background-image: linear-gradient(0deg, #ff79da, #9356dc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;}

.fa-heart:hover,
.fa-heart:active{
    opacity: 100%;
    background: linear-gradient(0deg, #ff79da, #9356dc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
  
  
  
  .starter,
  .plats,
  .desserts {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px 20px 20px;
    width: 100%;
    min-width: 340px;
  }
  .starter .title,
  .plats .title,
  .desserts .title {
    margin-left: 0;
  }
  .starter .title h2,
  .plats .title h2,
  .desserts .title h2 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .starter .title .underline,
  .plats .title .underline,
  .desserts .title .underline {
    background-color: #99E2D0;
    width: 35px;
    height: 3px;
  }
  .starter .menus__details,
  .plats .menus__details,
  .desserts .menus__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    height: 70px;
    margin-top: 20px;
    width: 95%;
    box-shadow: 5px 5px 10px #e7e7e7;
    overflow: hidden;
    cursor: pointer;
    color: black;
}
  .starter .menus__details .menus__details__name,
  .plats .menus__details .menus__details__name,
  .desserts .menus__details .menus__details__name{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
    width: 60%;
    
  }
  .starter .menus__details .menus__details__name h3,
  .plats .menus__details .menus__details__name h3,
  .desserts .menus__details .menus__details__name h3 {
    margin: 0;
    padding-right: 0;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 98%;
    font-weight: 700;
  }
  .starter .menus__details .menus__details__name p,
  .plats .menus__details .menus__details__name p,
  .desserts .menus__details .menus__details__name p {
    margin-top: 8px;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 98%;
  }
  .menus__details__price{
    font-weight: 700;
  }
  .starter .menus__details .menus__details__price,
  .plats .menus__details .menus__details__price,
  .desserts .menus__details .menus__details__price {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    /* margin-left: 195px; */
    padding: 0;
  }
  footer {
    width: 100%;
    background-color: rgb(92, 91, 91);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_contenair {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    padding: 15px;
}

footer .titre_footer_OhMyFood {
    font-family: 'Shrikhand';
    color: #fff;
    font-size: 25px;
    padding: 20px;
}

.lien_footer_2 {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    cursor: pointer;
    margin: 0 5px;
}

.lien_footer {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-family: 'Roboto';
    cursor: pointer;
}

.icone_footer {
    color: #fff;
    margin: 0 5px;
}

.element_footer {
    margin: 5px 0;
}

  
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
  }

  button {
    background: linear-gradient(var(--pink), var(--purple));
    border: none;
    border-radius: 30px;
    padding: 15px 20px 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    box-shadow: 0 0 6px #7A7A7A;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}
.btn__commande{
    width:100%;
    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__commande :hover{
  opacity: 0.7;
}
.fa-circle-check{
  -webkit-animation: rotate-90-cw 0.4s 1s;
	animation: rotate-90-cw 0.4s 1s;
}
.fa-circle-check{
  font-size: 20px;
  color: #fff;
  padding:27px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.fa-circle-check:hover{
  width: 100px;
  height: 100px;
  background: var(--bluegreen);
  animation-name: shutter-in-right;
  animation-duration: 3.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    width: 100%;
    margin-top: -40px;
    background-color: #F6F6F6;
    flex-direction: column; }

  .img1 {
    width: 70%;
    margin-left: 35%;
}
button {
  background: linear-gradient(var(--pink), var(--purple));
  border: none;
  border-radius: 30px;
  padding: 20px 55px 20px 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  box-shadow: 0 0 6px #7a7a7a;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: white;
}
.test {
  display: flex;
  flex-direction: column;
  width: 98%;
}
.btn__commande:hover{
  opacity: 0.7;
}
.starter .menus__details, .plats .menus__details, .desserts .menus__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  height: 70px;
  margin-top: 20px;
  width: 100%;
  box-shadow: 5px 5px 10px #e7e7e7;
  overflow: hidden;
  cursor: pointer;
  color: black;
}

footer {
    width: 100%;
    background-color: rgb(92, 91, 91);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
}

.footer_contenair {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}
.starter, .plats, .desserts {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px 20px 20px;
  width: 100%;
  min-width: 340px;


}
.fa-circle-check{
  font-size: 20px;
  color: #fff;
  padding:27px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.fa-circle-check:hover{
  width: 100px;
  height: 100px;
  background: var(--bluegreen);
  animation-name: shutter-in-right;
  animation-duration: 3.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}


}

@media screen and (min-width: 992px) {
  .menus {
    width: 100%;
    margin: 0;
  }
  .img1 {
    width: 70%;
    margin-left: 680px;
}
.menu {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: -40px;
  background-color: #F6F6F6;
  flex-direction: row;}

  .btn__commande {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__commande:hover{
  opacity: 0.7;
}
.test1{
  display: flex;
  flex-direction: row;
  width:104%;

}
.test{
  display: flex; 
  flex-direction: column;
  width: 100%;
}
.starter, .plats, .desserts {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px 20px 20px;
  width: 30%;
  min-width: 340px;

}
.starter .menus__details, .plats .menus__details, .desserts .menus__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  height: 70px;
  margin-top: 20px;
  width: 100%;
  box-shadow: 5px 5px 10px #e7e7e7;
  overflow: hidden;
  cursor: pointer;
  color: black;
}
.fa-circle-check{
  font-size: 20px;
  color: #fff;
  padding:27px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.fa-circle-check:hover{
  width: 100px;
  height: 100px;
  background: var(--bluegreen);
  animation-name: shutter-in-right;
  animation-duration: 3.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation: shutter-in-right 2.2s ease 0s 1 normal none;

   } 
}
 /* @keyframes shutter-in-right {
  0%{
    transform: rotateY(-100deg);
    transform-origin: right;
    opacity: 0;
  }
  100%{
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}  */

