@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');
:root {
    --purple: #9356DC;
    --pink: #FF79DA ;
    --bluegreen: #99E2D0;
    --font:'Roboto','Shrikhand'sans-serif;
}
* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
main{
    padding: 0;
}