@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

:root {
    --purple: #9356DC;
    --pink: #FF79DA;
    --bluegreen: #99E2D0;
    --font: 'Roboto', 'Shrikhand' sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #FFFF;
}

.ohmyfood_img {
    width: 60%;
    height: auto;
}

.logo {
    text-align: center;
}

.bar {
    background-color: #ded8d8;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

form {

    margin: auto;
    padding: 20px 0 20px 0;
    width: 100%;
    box-shadow: inset 0 8px 8px -3px #979494;
    background-color: #ded8d8;
    text-align: center;
    -webkit-appearance: none;
}

.searchbar {
    border: none;
    background-color: #ded8d8;
    text-align: unset;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    -webkit-appearance: none;

}

.fa-location-dot {
    font-size: 20px;
    font-family: "Font Awesome 6 Free";
    text-align: center;
}

main {
    display: block;
}

.second_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px 0 50px 0;
    background-color: #F6F6F6;;
}

.second_header h1 {
    margin: 0;
    padding-bottom: 10px;
    width: 90%;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
}

.second_header p {
    margin: 0;
    padding-bottom: 25px;
    width: 90%;
    text-align: center;
    font-family: 'Roboto';

}

.second_header a {
    border: none;
    padding: 18px 30px 18px 30px;
    text-decoration: none;
    color: #000000;
    background: linear-gradient(to bottom, var(--purple) 5%, var(--pink) 100%);
    background-color: var(--purple);
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 17px;
    text-decoration: none;
    box-shadow: 0 6px 6px 0px #c5bebe;
    
}
.second_header a:hover {
    opacity: 0.7;
    box-shadow: 0 6px 6px 0px #908989;
    
}

.filtres {
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    margin: 5px 5px 15px 5px;
}

.nombre {

    position: relative;
    border-radius: 100%;
    font-size: 18px;
    background-color: var(--purple);
    color: #ffffff;
    width: 25px;
    margin-left: -12px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}


h2 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto';
    margin: 15px;
}



.filtres .filtre_icone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(128, 128, 128);
    border-radius: 20px;
    font-size: 20px;
    width: 100%;
    padding: 0 20px;
    transform: scale(1);
    transition-property: transform;
    transition: 400ms;

}

.filtres .filtre {
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 25px;
    font-weight: bold;
    background: #F6F6F6;
    box-shadow: 6px 6px 6px rgb(0 0 0 / 25%);
}

.lienfiltres {

    text-decoration: none;
    color: #000;
    font-size: 17px;
    cursor: pointer;
    margin: 0 15px 0 0;
    font-weight: 700;
    font-family: 'Roboto';
    display: inline-flex;
}

.icone {
    margin: 20px;
}

.filtre:hover {
    background-color: rgb(244, 233, 255);
    transform: scale(1.10);
}
.filtre:hover >.icone{
    color: var(--purple);
}


.section_restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    padding: 20px 0;

}

.contenair_cards {
    margin: 0 auto;
    max-width: 1330px;
    width: 100%;
    padding: 0 20px;
}


.contenair-marseille {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.card_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



.lien {
    color: #000;
    text-decoration: none;
    background-color: #FFFF;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #dfdfdf;
    font-size: 15px;
    width: 100%;
    margin-bottom: 35px;
    position: relative;

}

#restaurants {
    font-size: 20px;
    margin-right: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

h3 {
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto'
}

.details {
    font-family: 'Roboto';
    margin-bottom: 10px;
    font-size: 18px;
}

.img1 {
    width: 100%;
    height: 155px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.description {
    margin: 15px;
}

/* .coeur { */
.menu__restaurant__like{
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
/* .coeur .fa-heart{ */
.menu__restaurant__like .fa-heart{
font-size: 25px;
position: absolute;
right:0;
transform: scale(1);
transition-property: transform;
}
.full{
    visibility: hidden;
}

.full:hover,
.full:active{
    transform: scale(1.15);
    opacity: 100%;
    background-image: linear-gradient(0deg, var(--pink), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.fa-heart:hover,
.fa-heart:active{
    opacity: 100%;
    background: linear-gradient(0deg, var(--pink), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.nouveau {
    display: flex;
    font-weight: 700;
    padding: 10px 15px;
    background-color: var(--bluegreen);
    color: #2c9c81;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-family: 'roboto';
    font-weight: 600;
}

footer {
    width: 100%;
    background-color: rgb(92, 91, 91);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_contenair {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    padding: 15px;
}

footer .titre_footer_OhMyFood {
    font-family: 'Shrikhand';
    color: #fff;
    font-size: 25px;
    padding: 20px;
}

.lien_footer_2 {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    cursor: pointer;
    margin: 0 5px;
}

.lien_footer {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-family: 'Roboto';
    cursor: pointer;
}

.icone_footer {
    color: #fff;
    margin: 0 5px;
}

.element_footer {
    margin: 5px 0;
}


@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    main {
        padding: 0;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
        background-color: #FFFF;
    }

    .logo {
        text-align: center;
    }
        .second_header a:hover {
        opacity: 0.7;
        box-shadow: 0 6px 6px 0px #908989;
        
    }


    .filtres {
        flex-direction: column;

    }

    .filtres .filtre_icone {
        flex-direction: column;
        padding: 0 30px;
        transform: scale(1);
        transition: 400ms;

    }

    .lienfiltres {

        text-decoration: none;
        color: #000;
        font-size: 17px;
        cursor: pointer;
        margin: 0 20px 0 0;
        font-weight: 700;
        font-family: 'Roboto';
        display: inline-flex;
    }

    .icone {
        margin: 20px;
    }


    .lien {
        width: 47%;
    }

    .contenair_cards {
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
        padding: 0 20px;
    }

    footer {
        width: 100%;
        background-color: rgb(92, 91, 91);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 20px;
    }

    .footer_contenair {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        padding: 10px;
        align-items: center;
    }

}

@media screen and (min-width: 992px) {

   .menu__restaurant .title_level_1{
        margin-left: 34px;
    }

    .second_header a:hover {
        opacity: 0.7;
        box-shadow: 0 6px 6px 0px #908989;
        
    }
    .filtres .filtre_icone {
        flex-direction: row;
        transform: scale(1);
        transition-property: transform;
        transition: 400ms;

    }

    .lien {
        width: 48%;
    }

    .h2sépcifique {
        margin-left: 180px;

    }
    .contenair_cards {
        margin: 0 auto;
        max-width: 85%;
        width: 100%;
        padding: 0 20px;
    }


}